<!--==============-->
<!-- Homepage HBS -->
<!--==============-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> nav }}
    <main>
        <h1>{{title}}</h1>

        <!-- Validates user's login status -->
        {{#if user.isLoggedIn}}
            <!-- Logged-in user view -->
            <p>Welcome, <strong>{{user.display_name}}</strong>!</p>
            <p>You’ve visited this page {{user.visitCount}} times this session.</p>
            <p>Logged in at: {{user.loginTime}}</p>
        {{else}}
                <!-- Guest view -->
                <p>Welcome, Guest!</p>
                <p>Please <a href="/login">log in</a> or <a href="/register">register</a> to join the conversation.</p>
        {{/if}}

        <!-- Site description -->
        <p> This serves as a secure web forum for COS498- 
            Topics in Computer Science</p>
        <p> This webpage provides a reliable platform for discussions.
            Users can create accounts, manage profiles, and participate in threaded conversations or real-time chat, 
            all within a highly secure environment. 
            The application employs best practices in web security, including password hashing, account lockout mechanisms, 
            and HTTPS encryption, ensuring data integrity and user privacy. 
            Designed for efficiency and ease of use, the forum offers features such as comment pagination and profile customization. </p>
    
        <!-- Can only join chat if logged in -->
        {{#if isLoggedIn}}
            <a href="/chat"><button>Join Chat</button></a>
        {{/if}}

    </main>

    {{> footer}}
</body>
</html>
